body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Ubuntu', "M PLUS Rounded 1c", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Arial, Osaka, Sans-Serif;
  background: #eee;
  color: #2d4059;
}

main {
  flex: 1;
}

p {
  font-size: 14px;
}

header {
  margin-bottom: 30px;
  padding: 15px 0 5px 0;
  background: #364f6b;
  /* background: #3fc1c9; */
  color: #fff;
  cursor: pointer;
}

header > h1 {
  width: 100%;
  margin: 0;
  margin-bottom: -8px;
  font-family: "Nico Moji", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Arial, Osaka, Sans-Serif;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 3px;
  /* font-size: 50px; */
}

header > h1 > img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin: 0 10px;
}

header p {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

strong {
  color: #07689f;
}

.img-box {
  width: 86%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 2px;
  background-color: #252a34;
}

.cat-img {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 10px 0;
}

/* RPG風 */
.textboard {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px 20px;
  border: 2px solid #252a34;
  border-radius: 5px;
  box-shadow: 0 0 0 4px #fff inset;
  background-color: #252a34;
  color: #fff;
}

/* 布風 */
/* .textboard {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 20px;
  background: #FFEBC2;
  box-shadow: 0px 0px 0px 10px #FFEBC2;
  border: dashed 2px white;
  border-radius: 2px;
} */

.textboard p:not(:last-child) {
  margin-bottom: -12px;
}

.description {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.description p:not(:last-child) {
  margin-bottom: -5px;
}

#start {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #2c8a8f;
  border-radius: 50%;
  line-height: 120px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  background: #3fc1c9;
  color: #FFF;
  transition: .4s;
  outline: none;
  cursor: pointer;
}

#start:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

footer {
  text-align: center;
  padding-bottom: 10px;
}

footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

footer ul li {
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

footer ul li:not(:last-child) {
  margin-right: 15px;
}

footer ul li a {
  text-decoration: none;
  color: #2d4059;
}

footer ul li a:hover {
  opacity: .8;
}

/* .twitter {
  color: #55acee;
}

.github {
  color: #333;
}

.blog {
  color: #23282e;
} */

#next {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 90px;
  height: 90px;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #2c8a8f;
  border-radius: 50%;
  line-height: 90px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  background: #3fc1c9;
  color: #FFF;
  transition: .4s;
  outline: none;
  cursor: pointer;
}

#finish {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #2c8a8f;
  border-radius: 50%;
  line-height: 120px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  background: #3fc1c9;
  color: #FFF;
  transition: .4s;
  outline: none;
  cursor: pointer;
}

.home {
  text-align: center;
  cursor: pointer;
}

.choices {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  /* margin-bottom: 90px; */
  padding: 0 0 90px 0;
  list-style: none;
  text-align: center;
}

.choices li {
  padding: 8px 15px;
  text-decoration: none;
  background: #3fc1c9;
  color: #FFF;
  border-bottom: solid 4px #2c8a8f;
  border-radius: 3px;
  font-size: 17px;
  outline: none;
  cursor: pointer;
}

.choices li:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.choices li:not(:last-child) {
  margin-right: 60px;
}

.answer {
  /* border: double 5px #3fc1c9; */
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 20px;
  background: #cbf1f5;
  box-shadow: 0px 0px 0px 10px #cbf1f5;
  border: dashed 2px white;
  border-radius: 2px;
}

.answer p:not(:last-child) {
  margin-bottom: -10px;
}

.cat-answer-img {
  display: block;
  width: 30%;
}

.answer7-a a,
.answer8-a a {
  color: #3fc1c9;
}

.question7 strong {
  color: #fff;
}

.answer6-b li > p {
  font-size: 15px;
  margin-top: 5px;
}

.question-no {
  display: block;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 4px 0;
  /* border: 5px solid #e3fdfd; */
  border-radius: 4px;
  background: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.hidden {
  display: none;
}

#next.hidden,
.question-no.hidden {
  display: none;
}

/* .retry {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  text-decoration: none;
  background: #3fc1c9;
  color: #FFF;
  border-bottom: solid 4px #2c8a8f;
  border-radius: 3px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
} */

/* medium screens */
@media (min-width: 570px) {
  p {
    font-size: 17px;
  }

  header > h1 {
    font-size: 50px;
  }

  header > h1 > p {
    font-size: 20px;
  }

  .choices li {
    padding: 10px 20px;
    font-size: 20px;
  }
}

@media (min-width: 912px) {
  p {
    font-size: 17px;
  }

  header > h1 {
    font-size: 50px;
  }

  header > h1 > p {
    font-size: 20px;
  }

  .img-box {
    width: 53%;
  }

  .cat-img {
    width: 70%;
    padding: 15px 0;
  }

  .textboard {
    width: 50%;
  }

  .answer {
    width: 50%;
  }

  .choices li {
    padding: 10px 20px;
    font-size: 20px;
  }

  .question-no {
    font-size: 20px;
  }
}

